.container
  %ol.images-container.clearfix
    - @images.each do |image|
      %li.image-container
        - if image.nsfw?
          .image-nsfw-overlay NSFW
        %a.image-link{:href => image.remote_permalink, :target => "_blank"}
          %img.image-thumb{:src => image.url(:box), :alt => image.title}
